<aside id="article-toc" role="navigation" class="col-md-4">
    <nav class="widget toc-wrap">
        <% if(toc(page.content)){ %>
            <%- toc(page.content,{list_number:false}) %>
        <% } else { %>
            <p>暂无目录</p>
        <% } %>
    </nav>
</aside>
